<% layout('layout_nonav') %>

<div class="hero-container">
  <div class="hero">
    <div class="banner">Onlineshop</div>
    <a href="/shop" class="goShopping-button">Jetzt shoppen</a>
  </div>
</div>
