<% layout('layout') %>
<% if (error) { %>
  <div class="alert alert-danger"><%= error %></div>
<% } %>

<form method="POST" action="/login">
  <input type="email" name="email" required />
  <input type="password" name="passwort" required />
  <button type="submit">Login</button>
</form>